body {
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    line-height: 20px;
}

.bubbles:hover {
    stroke-width: 3px;
    stroke: #008E98;
}

.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}